@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding: 52px 127px;
    border: 1px solid red;
}
.nav-left{
    display: flex;
    gap:17px;
    align-items: center;
}
.nav-right>ul{
    display: flex;
    list-style: none;
    gap:44px;
}
.nav-right>ul a{
    text-decoration: none;
}